iot-project/json-server/db.json
iot-project/model/data_input.csv
iot-project/model/db_per_model.json
iot-project/model/reduced_results.csv
iot-project/model/reduced_results.json
iot-project/model/db_per_model.json
iot-project/backend/json-server/db.json
